[Unit]
Description=mvg-sky-apache-james
After=syslog.target

[Service]
User=root
Environment="JAVA_HOME=/root/.sdkman/candidates/java/8.0.292.j9-adpt"
WorkingDirectory=/root/james/mvg-sky-apache-james/james-server-app-3.3.0/bin
ExecStart=/root/james/mvg-sky-apache-james/james-server-app-3.3.0/bin/run.sh
StandardOutput=journal
StandardError=journal
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
