[Unit]
Description=mvg-sky-service-account
After=syslog.target

[Service]
User=root
WorkingDirectory=/root/mvg-sky/backend/mvg-sky-backend/service-account/target
ExecStart=/root/.sdkman/candidates/java/current/bin/java -jar service-account-0.0.1-SNAPSHOT-exec.jar
StandardOutput=journal
StandardError=journal
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
