<code_scheme name="Default" version="173">
    <option name="LINE_SEPARATOR" value="&#xA;"/>
    <option name="FORMATTER_TAGS_ENABLED" value="true"/>
    <option name="FORMATTER_TAGS_ACCEPT_REGEXP" value="true"/>
    <JavaCodeStyleSettings>
        <option name="CLASS_COUNT_TO_USE_IMPORT_ON_DEMAND" value="50"/>
        <option name="NAMES_COUNT_TO_USE_IMPORT_ON_DEMAND" value="50"/>
        <option name="PACKAGES_TO_USE_IMPORT_ON_DEMAND">
            <value/>
        </option>
        <option name="IMPORT_LAYOUT_TABLE">
            <value>
                <package name="" withSubpackages="true" static="false"/>
                <package name="" withSubpackages="true" static="true"/>
            </value>
        </option>
        <option name="JD_ADD_BLANK_AFTER_DESCRIPTION" value="false"/>
    </JavaCodeStyleSettings>
    <codeStyleSettings language="JAVA">
        <option name="KEEP_LINE_BREAKS" value="false"/>
        <option name="KEEP_FIRST_COLUMN_COMMENT" value="false"/>
        <option name="KEEP_BLANK_LINES_IN_DECLARATIONS" value="1"/>
        <option name="KEEP_BLANK_LINES_IN_CODE" value="1"/>
        <option name="KEEP_BLANK_LINES_BETWEEN_PACKAGE_DECLARATION_AND_HEADER" value="1"/>
        <option name="KEEP_BLANK_LINES_BEFORE_RBRACE" value="1"/>
        <option name="ELSE_ON_NEW_LINE" value="true"/>
        <option name="WHILE_ON_NEW_LINE" value="true"/>
        <option name="CATCH_ON_NEW_LINE" value="true"/>
        <option name="FINALLY_ON_NEW_LINE" value="true"/>
        <option name="CASE_STATEMENT_ON_NEW_LINE" value="false"/>
        <option name="ALIGN_MULTILINE_PARAMETERS_IN_CALLS" value="true"/>
        <option name="ALIGN_MULTILINE_BINARY_OPERATION" value="true"/>
        <option name="ALIGN_MULTILINE_ASSIGNMENT" value="true"/>
        <option name="ALIGN_MULTILINE_TERNARY_OPERATION" value="true"/>
        <option name="ALIGN_MULTILINE_THROWS_LIST" value="true"/>
        <option name="ALIGN_MULTILINE_EXTENDS_LIST" value="true"/>
        <option name="ALIGN_MULTILINE_METHOD_BRACKETS" value="true"/>
        <option name="ALIGN_MULTILINE_ARRAY_INITIALIZER_EXPRESSION" value="true"/>
        <option name="SPACE_BEFORE_IF_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_WHILE_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_FOR_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_TRY_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_CATCH_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_SWITCH_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_SYNCHRONIZED_PARENTHESES" value="false"/>
        <option name="SPACE_BEFORE_ARRAY_INITIALIZER_LBRACE" value="true"/>
        <option name="KEEP_SIMPLE_BLOCKS_IN_ONE_LINE" value="true"/>
        <option name="KEEP_SIMPLE_METHODS_IN_ONE_LINE" value="true"/>
        <option name="KEEP_SIMPLE_LAMBDAS_IN_ONE_LINE" value="true"/>
        <option name="KEEP_SIMPLE_CLASSES_IN_ONE_LINE" value="true"/>
        <indentOptions>
            <option name="CONTINUATION_INDENT_SIZE" value="4"/>
        </indentOptions>
    </codeStyleSettings>
    <codeStyleSettings language="VTL">
        <indentOptions>
            <option name="CONTINUATION_INDENT_SIZE" value="4"/>
        </indentOptions>
    </codeStyleSettings>
    <codeStyleSettings language="XML">
        <indentOptions>
            <option name="CONTINUATION_INDENT_SIZE" value="4"/>
        </indentOptions>
    </codeStyleSettings>
    <codeStyleSettings language="yaml">
        <indentOptions>
            <option name="INDENT_SIZE" value="4"/>
        </indentOptions>
    </codeStyleSettings>
</code_scheme>
